<div ng-controller="NotifyTestController">
    <form name="form" role="form" class="form-horizontal col-sm-offset-2 col-sm-8" novalidate>
        <div class="form-group" ng-class="{'has-error': form.title.$dirty && form.title.$invalid}">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       id="title" name="title" ng-model="msg.title"
                       required/>
                <span class="help-block" ng-show="form.title.$dirty && form.title.$error.required">Required.</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.body.$dirty && form.body.$invalid}">
            <label for="body" class="col-sm-2 control-label">Body</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       id="body" name="body" ng-model="msg.body"
                       required/>
                <span class="help-block" ng-show="form.body.$dirty && form.body.$error.required">Required.</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success"
                        ng-disabled="form.$invalid"
                        ng-click="pop()">Pop</button>
            </div>
        </div>
    </form>
</div>